body {
    padding: 10%;

    font-family: Montserrat;
}

a {
    text-decoration: underline #a9d6e5 2px;
    color: black
}

a:hover {
    cursor: pointer
}


.photo-class {
    border-radius: 20%;
    max-width: 300px;
    max-height: 280px;
}

.left-col {
    flex: 40%
}

.right-col {
    flex: 60%
}

ul {
    list-style-type: none;

}

.row {
    display: flex;
}

.col {
    display: flex;
    flex: 50%
}

.experience-block {
    border-bottom: 1px solid #c8e7ff;
    margin: 1%;
    padding: 3%;
    padding-top: 1%;
}

footer {
    border-bottom: 1px solid #c8e7ff;
    margin: 1%;
    padding: 3%;
    padding-top: 1%;

}

footer .col {
    align-items: center;
}

small {
    color: #696969;
}

.section-header {
    background-color: #89c2d9;
    color: white;
    display: inline-block;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 0
}

.course-div {
    margin: 1%;
    padding: 3%;
    padding-top: 1%;
}

.unseen {
    display: none;
}

.course-div a {
    display: block;
    margin: 2px;
}